/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  position: relative;
  z-index: -999;
  justify-items: center;
  font-family: var(--main-font-famaly);
  font-weight: var(--main-font-weight);
  background: var(--bg-img) center / cover fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--main-font-varitaion-settings);
}

.header {
  justify-items: center;
  align-content: center;
  margin-top: 100px;
  border: 2px solid var(--border-color);
  padding: var(--header-paddings);
  background-color: var(--container-bg-color);
  inline-size: var(--header-width);
}

.header__title {
  font-family: var(--accent-font-famaly);
  font-weight: var(--h1-font-weight);
  font-size: var(--h1-font-size);
  text-transform: uppercase;
}

.header__subtitle {
  margin-top: 20px;
  font-family: var(--accent-font-famaly);
  font-weight: var(--h2-font-weight);
  font-size: var(--h2-font-size);
  text-transform: uppercase;
}

.content {
  margin-top: 100px;
  inline-size: var(--content-width);
}

.card {
  margin-block-start: 50px;
  border: 2px solid var(--border-color);
  background-color: var(--container-bg-color);
}

.card__header {
  padding: 4px 10px 6px 10px;
  font-size: var(--h3-font-size);
  font-variation-settings: 'wght' var(--h3-font-weight);
}

.card__image-container {
  position: relative;
}

.card__label {
  position: absolute;
  top: var(--card-label-top);
  right: var(--card-label-right);
  z-index: 1;
  opacity: 50%;
  font-family: var(--accent-font-famaly);
  font-weight: var(--label-font-weight);
  font-size: var(--label-font-size);
  text-shadow:
    1px 1px 0 var(--text-stroke-color), 
    -1px -1px 0 var(--text-stroke-color), 
    1px -1px 0 var(--text-stroke-color), 
    -1px 1px 0 var(--text-stroke-color);
  mix-blend-mode: hard-light;
}

.card__image {
  border-block-start: 2px solid var(--border-color);
  border-block-end: 2px solid var(--border-color);
  object-fit: cover;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px 25px 0 25px;
}

.paragraph {
  font-weight: var(--p-font-weight);
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
}

.card__button-container {
  display: flex;
  justify-content: flex-end;
  padding: 25px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-inline-end: 6px;
  border: none;
  padding: 0;
  background: none;
  transition: box-shadow 0.3s ease;
}

.card__icon-button:hover {
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  box-shadow: inset 0 0 0 2px var(--border-color);
}

.card__like-button {
  padding: 0;
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--btn-text-blend-color);
  font-family: var(--accent-font-famaly);
  font-weight: var(--btn-font-weight);
  font-size: var(--btn-font-size);
  mix-blend-mode: difference;
}

.dialog__button-open {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 50px 32px 100px 32px;
  padding: 15px 21px 15px 19px;
  font-family: var(--accent-font-famaly);
  font-weight: var(--dialog-button-font-weight);
  font-size: var(--dialog-button-font-size);
  line-height: 90%;
  max-inline-size: 339px;
}

.dialog__button-open .floppy-icon {
  flex: none;
  width: var(--floppy-icon-width);
  height: var(--floppy-icon-height);
  fill: var(--floppy-icon-blend-color);
  mix-blend-mode: difference;
}

.dialog__form-container {
  inline-size: 100%;
}

.dialog__button-close {
  display: block;
  align-items: center;
  margin-block-start: 30px;
  padding: 10px 0;
  font-family: var(--accent-font-famaly);
  font-weight: var(--dialog-button-font-weight);
  font-size: var(--dialog-button-font-size);
  inline-size: 100%;
}

.dialog[open] {
  justify-items: center;
  justify-self: center;
  align-self: center;
  margin: 0 17px;
  border: 2px solid var(--border-color);
  padding: var(--dialog-paddings);
  max-inline-size: 357px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__content-container .floppy-icon {
  flex: none;
  width: var(--dialog-floppy-icon-width);
  height: var(--dialog-floppy-icon-height);
}

.dialog__text {
  font-family: var(--accent-font-famaly);
  font-weight: var(--dialog-button-font-weight);
  font-size: var(--dialog-button-font-size);
  line-height: 150%;
  text-transform: uppercase;
}

/* Кнопки с текстом и анимацией */
.button {
  position: relative;
  z-index: 1;
  border: 2px solid var(--border-color);
  font-family: var(--accent-font-famaly);
  background: var(--btn-bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0 0;
  z-index: -1;
  background-color: var(--btn-bg-hover-color);
  transition: transform .5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  block-size: 100%;
  inline-size: 100%;
}

.button:hover {
  z-index: 1;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--btn-bg-hover-color);
}

/* Фильтры */
.brightness_filter {
  filter: brightness(50%);
}

.invert_filter {
  filter: invert(0.1);
}

.saturate_filter {
  filter: saturate(150%);
}

.contrast_filter {
  filter: contrast(120%);
}

.sepia_filter {
  filter: sepia(0.4);
}

.blur_filter {
  filter: blur(0.02rem);
}

.hue-rotate_filter {
  filter: hue-rotate(5deg);
}

.mix_filter {
  filter: hue-rotate(10deg) saturate(130%) contrast(120%);
}

@supports (-webkit-text-stroke: 1px var(--text-stroke-color)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
}