:root {
  /* Цвета и шрифты, обобщённо */
  --font-size-sm: 14px;
  --font-size-md: 18px;
  --font-size-lg: 23px;
  --font-size-xlg: 49px;
  --font-size-xxlg: 65px;
  --font-weight-md: 400;
  --font-weight-lg: 700;
  --main-color: #000;
  --main-font-famaly: 'Inter Variable';
  --main-font-weight: 400;
  --accent-font-famaly: 'PressStart2P';
  --bg-img:
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(0deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(0deg, #1a1a1a, #e7e7e7);
  --white: #fff;
  --black: #000;
  --red: #FF0000;

  --header-width: clamp(375px, 50%, 700px);
  --header-height: 368px;
  --content-width: clamp(375px, 50%, 700px);
  --h1-font-weight: var(--font-weight-md);
  --h1-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --h2-font-weight: var(--font-weight-md);
  --h2-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --h3-font-weight: var(--font-weight-lg);
  --h3-font-size: var(--font-size-md);
  --p-font-weight: var(--font-weight-md);
  --p-font-size: var(--font-size-md);
  --btn-font-size: var(--font-size-sm);
  --btn-font-weight: var(--font-weight-md);
  --label-font-size: var(--font-size-sm);
  --label-font-weight: var(--font-weight-md);
  --text-stroke-color: var(--white);
  --border-color: var(--black);
  --dialog__button-font-size: var(--font-size-sm);
  --dialog__button-font-weight: var(--font-weight-md);
  --floppy-icon-width: 21px;
  --floppy-icon-height: 21px;
  --dialog__floppy-icon-width: 39px;
  --dialog__floppy-icon-height: 39px;
  --container-bg-color: var(--white);
  --button-text-color: var(--black);
  --button-text-hover-color: var(--white);
  --button-bg-hover-color: var(--black);
  --button-bg-color: var(--white);
  --heart-main-color: var(--black);
  --heart-animation-color: var(--red);
}

@media (width <= 375px) {
  :root {
    --header-width: 100%;
    --content-width: 100%;
    --floppy-icon-width: 28px;
    --floppy-icon-height: 28px;
  }
}
